<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://unpkg.com/chota@latest">
</head>
<body>
  <div class="container">
    <header class="row">
      <div class="col">
        <nav class="nav">
          <a href="/" class="brand">{{siteName}}</a>
          <div class="nav-right">
            <a href="/">Home</a>
            <a href="/about.html">About</a>
          </div>
        </nav>
      </div>
    </header>
    <main class="row">
      <div class="col">
        {{content}}
      </div>
    </main>
    <footer class="row">
      <div class="col">
        <p class="text-grey">&copy; {{copyright}}</p>
      </div>
    </footer>
  </div>
</body>
</html>
